/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.header {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
        grid-template-areas: "a b c";
    grid-auto-columns: 1fr;
    -webkit-column-gap: 2em;
       -moz-column-gap: 2em;
            column-gap: 2em;
    margin-bottom: 0.3em;
}

.h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0.67em 0;
}

.sup {
    font-size: 90%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -1.5em;
    font-style: italic;
}

.title {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: b;
    text-shadow: 1px 1px 1px lightgrey;
}

.statButton {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: c;
    height: 30px;
    width: 30px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    background-color: white;
    border: 1px lightgrey solid;
    border-radius: 2px;
    padding: 3px;
}

.statButton:hover {
    background-color: lightgrey;
}

.statButton:active {
    border: 1px darkgrey solid;
    background-color: darkgrey;
}

.statButton:active > span, .statButton:hover > span {
    background-color: rgb(129, 129, 129);
}

.bar1, .bar2, .bar3 {
    width: 4px;
    margin: 1px;
    background-color: darkgray;
}

.bar1 {
    height: 30%
}

.bar2 {
    height: 100%;
}

.bar3 {
    height: 60%
}