/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.keyboard {
    max-width: 700px;
    width: 95%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
}

.keyRow {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.keyLight, .keyDark, .keyYellow, .keyGreen, .wideKey {
    margin: 0.5%;
    border: none;
    border-radius: 4px;
    width: 10%;
    min-width: auto;
    aspect-ratio: 1 / 1.4;
    color: white;
    cursor: pointer; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.wideKey {
    width: 4em;
    aspect-ratio: 1.4 / 1;
}

.keyLight, .wideKey {
    color: black;
    background-color: rgb(226, 226, 226);
}

.keyLight:active, .wideKey:active {
    background-color: rgb(207, 207, 207);
}

.keyDark {
    background-color: rgb(131, 131, 131);
}

.keyDark:active {
    background-color: rgb(117, 117, 117);
}

.keyYellow {
    background-color: rgb(197, 197, 90);
}

.keyYellow:active {
    background-color: rgb(177, 177, 83);
}

.keyGreen {
    background-color: rgb(103, 182, 103);
}

.keyGreen:active {
    background-color: rgb(92, 165, 92);
}

@media only screen and (orientation: landscape) {
    .keyRow {
        width: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .keyLight, .keyDark, .keyYellow, .keyGreen, .wideKey {
        width: 7%;
        aspect-ratio: 1 / 1.25;
    }
    
    .wideKey {
        width: 4em;
        aspect-ratio: 1.4 / 1;
    }

    .wideKey {
        width: 12%;
    }

}