

.statBox {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 13em;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    z-index: 9;
    background-color: white;
    border: None;
    box-shadow: 3px 3px 10px -2px rgb(29, 29, 29);
    padding: 1em;
}

.statContent {
    margin-top: 0.5em;
    padding-top: 0.2em;
    border-top: 1px solid lightgrey;
}

.statRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 1em;
}

.barBorder {
    background-color: lightgray;
    display: inline-flex;
    margin: 0.5em;
    border: None;
    width: 10em;
    align-items: left;
    height: 1.2em;
}

.statBar {
    background-color: darkgray;
    border: None;
    height: 100%;
    line-height: 1.2em;
}

.backButton {
    border: None;
    background-color: lightgrey;
    width: 90%;
    margin: 0.5em;
}

.backButton:hover {
    background-color: rgb(196, 196, 196);
}

.backButton:active {
    background-color: darkgrey;
}