.h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0.67em 0;
}

.sub, .sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
.sub {
    bottom: -0.25em;
}
  
.sup {
    top: -1.5em;
    font-style: italic;
}

.keyLight, .keyDark, .keyYellow, .keyGreen, .enter {
    margin: 4px;
    border: none;
    border-radius: 3px;
    height: 50px;
    width: 40px;
    color: white;
    cursor: pointer; 
}

.enter {
    width: 70px;
}

.keyLight, .enter {
    color: black;
    background-color: rgb(226, 226, 226);
}

.keyDark {
    background-color: rgb(131, 131, 131);
}

.keyYellow {
    background-color: rgb(197, 197, 90);
}

.keyGreen {
    background-color: rgb(103, 182, 103);
}

.guessEmpty, .guessGray, .guessYellow, .guessGreen {
    width: 70px;
    height: 70px;  
    margin: 4px;
    font-size: x-large;
    color: white;
    display: inline-block;
    border: none;
}

.guessEmpty {
    border:2px solid rgb(226, 226, 226);
    background-color: white;
    color: black;
}

.guessGray {
    background-color: rgb(131, 131, 131);
}

.guessYellow {
    background-color: rgb(197, 197, 90);
}

.guessGreen {
    background-color: rgb(103, 182, 103);
}